[tools]
"aqua:FiloSottile/age" = "1.2.1"
"aqua:getsops/sops" = "3.11.0"
"aqua:go-task/task" = "3.45.4"
"aqua:kubernetes/kubectl" = "1.34.0"
direnv = "latest"
node = "24"

[settings]
experimental = true

[env]
# Use the project name derived from the current directory
PROJECT_NAME = "{{ config_root | basename }}"
LC_ALL = "en_US.UTF-8"
LC_CTYPE = "en_US.UTF-8"
